<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using ToDoList.Models;
    <h1>To Do List</h1>
    @if (Model.Count == 0)
    {
      <p>There are no items in the list.</p>
    }
    <ul>
      @foreach (Item item in Model)
      {
      <li><a href='/items/@item.Id'>@item.Description</a></li>
      }
    </ul>
    <a href="/items/new">Add a new item.</a>
    //href links are get methods - they go to another cshtml page, like displaying a form you can fill out, but not necessarily; they can just display something - to find out which one, you go to the controllers, and find the route that matches
    <form action="/items/delete" method="post">
    //actions, which have to live inside forms, are post methods, they take you somewhere, even if it's to the same page, after changing something/performing an action - check controllers routes that match to see which page
      <button type="submit" name="button">Clear All Items</button>
    </form>
  </body>
</html>