<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Add a new item to @Model.Name</h1>

    <form action="/categories/@Model.Id/items" method="post">
    <!--we look at categories, and then at the dynamically-created id to find which one, and then all the items in that id-->
      <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
      <!-- passes the category id alongside the form input to the create route that processes this info (so that it knows which category it's processing stuff into), but the hidden means it won't show up to the user-->
      <label for="itemDescription">Item Description</label>
      <input id="itemDescription" name="itemDescription" type="text">
      <!--not sure why we need itemDescription now instead of just description-->
      <button type='submit'>Add Item</button>
    </form>
  </body>
</html>